version: '3.8'

services:
  
  java:
    build: ./
    container_name: java
    restart: unless-stopped
    ports:
      - 5000:5000
    depends_on:
      - mysql
      
  
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: test_db
    ports:
      - 3306:3306